* {
    box-sizing: border-box;
}

body {
    font: 18px Calibri; 
    background-image: url(https://www.teahub.io/photos/full/296-2965452_5-ferramentas-em-alta-para-desenvolvedores-react-desenvolvedor.png);
    background-size: cover;
}

.content{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 50px;
    font-weight: bold;
    margin-bottom: 50px;
    color: rgb(31, 7, 53, 0.75);
}

#title{
    font-family: Calibri;
    font-weight: bolder;
    font-size: 80px;
    color: rgb(239, 222, 247);
    margin-top: 5px;
}

#titlebox{
    border:none;
}

.about {

    font-size: 20px;
    font-weight:lighter;
    color:rgba(255, 255, 248, 0.75);
    margin-right: 100px;
}

.white_field {
    border:none;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(236, 243, 250, 0.75);
    width:400px;
}

.part{
    padding: 20px;
}

.info {
    border-radius: 20px 20px 20px 20px;
    border: none;
    width: 600px;
    height: 30px;
}

#experience {
    color: rgb(190, 185, 185)
    font-family: Calibri;
    font-size: 15px;
    width: 630px;
    height: 100px;
    padding: 5px

}

#go {
    width: 80px;
    height: 40px;
    font-size: 16px;
    color: blanchedalmond;
    background-color: blueviolet;
    border-radius: 10px 10px 10px 10px;
    border: none;
    margin-left: 270px;
}

#item7 {
    margin-left: 20px;
}
